<div id="cityDropdown">
  <div class="form-group">
    <label for="state">City</label>
    <select class="form-select" aria-label="Select a City" name="city" id="city">
      
    </select> 
  </div>
</div>

<script>
  function returnCitiesDropdown(theCities) {
    var theHTML = `<div class="form-group">
        <label for="state">City</label>
        <select class="form-select" aria-label="Select a City" name="city" id="city">
          `;
    
    for (var i = 0; i < theCities.length; i++) {
      theHTML += `
        <option value="${theCities[i]}">${theCities[i]}</option>
      `;
    }

    theHTML += `
        </select> 
      </div>
    `;

    return `${theHTML}`;
  }

  // when the state in the dropdown menu changes, 
  // show the corresponding cities
  $("#state").change((e1) => {
    var ajaxRequest = $.ajax({
      url: "/getStateCities",
      type: 'post',
      data: ({stateName: $("#state").val()}),
      dataType: 'json'
    }).done((res) => {
      // show them the cities based on their responses
      if (res) {
        var theCities = res.cities;
        $("#cityDropdown").html(returnCitiesDropdown(theCities));
      } else {
        // error in response
        console.log("Error in Response!");
      }
    }).fail(() => {
      console.log("FAIL!");
    });
  });
</script>