<footer class="footer py-3 bg-dark text-white text-center">
  <!-- Copyright -->
  <div class="container">© 2021 Copyright:
    <a href="/"> GreaterHealth</a>
  </div>
</footer>

<script>
  // Enable Dropdowns
  $(document).ready(function(){
    // enables Bootstrap dropdown menu functionality
    $(".dropdown-toggle").dropdown();

    $(".nonWideTable").DataTable();

    // if the table is wide, enable scrollX option
    $(".wideTable").DataTable({
      "scrollX": true
    });
  });
</script>