<footer class="bg-dark text-white">
  <!-- Copyright -->
  <div class="text-center py-3">© 2021 Copyright:
    <a href="/"> GreaterHealth</a>
  </div>
</footer>

<script>
  // Enable Dropdowns
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown()
  });
</script>