<!-- jQuery -->
<script src="/jQuery/jquery.js"></script> 

<!-- Bootstrap -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/bootstrapCSS/bootstrap.css">
<!-- Bootstrap JS -->
<script src="/bootstrapJS/bootstrap.js"></script>

<!-- Datatables -->
<!-- Datatables CSS CDN -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<!-- Datatables JS CDN -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<!-- Standard CSS (across all pages) -->
<link rel="stylesheet" href="/css/styles.css">

<!-- Favicon -->
<link rel="icon" href="/images/favicon.ico">

<!-- Page Title -->
<title><%= typeof title != 'undefined' ? title : 'GreaterHealth' %></title>