<fieldset class="form-group">
  <label for="hotuos">History of Tobacco Use or Smoking</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" id="yes" name="hotuos" value="Yes" required>
    <label class="form-check-label" for="yes">Yes</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" id="no" name="hotuos" value="No">
    <label class="form-check-label" for="no">No</label>
  </div>
</fieldset>