<div class="form-group">
  <label for="income">Income:</label>
  <input 
    class="form-control"
    id="income" 
    name="income" 
    type="number" 
    step="0.01" 
    placeholder="0.00" 
    required>
</div>