<fieldset class="form-group">
  <label for="iofn">Individual or Family Network:</label>
  <div class="form-check">
    <input class="form-check-input" type="radio" id="individual-network" name="iofn" value="Individual Network" required>
    <label class="form-check-label" for="individual-network">Individual Network</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" id="family-network" name="iofn" value="Family Network">
    <label class="form-check-label" for="family-network">Family Network</label>
  </div>
</fieldset>