#brandImage {
  margin-right: 2px;
}

button {
  margin-top: 25px;
}

footer {
  margin-top: 25px;
}

form {
  margin-left: 20px;
}

form h4 {
  margin-top: 10px;
}

.form-control, .form-select {
  width: 12.5%;
}

#prevSurgeries, #surgeryNeeded {
  width: 22.5%;
}

.form-check-label {
  margin-top: 0;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

label {
  margin-top: 7px;
  display: inline-block;
}

nav {
  margin-bottom: 20px;
  padding: .5rem 1rem;
}

.contributeButton {
  text-align: center;
}

.aTable {
  width: 80%;
  margin: 20px auto;
}

table caption {
  font-size: 2rem;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}