html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#brandImage {
  margin-right: 2px;
}

button {
  margin-top: 25px;
}

footer {
  margin-top: auto;
}

form {
  margin: 0 20px;
}

form h4 {
  margin-top: 10px;
}

#prevSurgeries, #surgeryNeeded {
  width: 22.5%;
}

.form-check-label {
  margin-top: 0;
}

h1, h2 {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

label {
  margin-top: 7px;
  display: inline-block;
}

nav {
  margin-bottom: 20px;
  padding: .5rem 1rem;
}

.contributeButton {
  text-align: center;
}

.aTable {
  width: 98%;
  margin: 20px auto;
}

.aTable h2 {
  margin-bottom: 0;
  margin-top: 10px;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
}

.dataTables_filter label {
  margin-right: 7px;
}