button {
  margin-top: 25px;
}

footer {
  margin-top: 25px;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

label {
  margin-top: 7px;
  display: inline-block;
}

nav {
  margin-bottom: 20px;
}

.contributeButton {
  text-align: center;
}