<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/headTag', {title: "Find My Ideal Plan"}); %>
    <link rel="stylesheet" href="/css/findIdealPlan.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>

    <h1>Find My Ideal Plan</h1>
    <h3>Fill out the information below, and click "Find me a Plan!" to see competitive offers in your area.</h3>
    <!-- <form method="POST" id="findPlanForm"> -->
    <form id="findPlanForm">
      <h4>Personal Information</h4>
      
      <label for="age">Age</label><br />
      <input type="number" id="age" name="age" placeholder="0"><br />

      <label for="city">City</label><br />
      <input type="text" id="city" name="city" placeholder="San Francisco"><br />

      <label for="state">State</label><br />
      <input type="text" id="state" name="state" placeholder="California"><br />

      <label for="hotuos">History of Tobacco Use or Smoking</label>
      <br />
      <input type="radio" id="yes" name="hotuos" value="Yes">
      <label for="yes">Yes</label>
      <br />
      <input type="radio" id="no" name="hotuos" value="No">
      <label for="no">No</label>
      <br />

      <label for="surgeryOrMedNeeded">Surgery/Medication Needed</label><br />
      <input type="text" id="surgeryOrMedNeeded" name="surgeryOrMedNeeded"><br />

      <label for="individualOrFamilyEnrollment">Individual or Family Enrollment</label>
      <br />
      <input type="radio" id="individual" name="individualOrFamilyEnrollment" value="Individual">
      <label for="individual">Individual</label>
      <br />
      <input type="radio" id="family" name="individualOrFamilyEnrollment" value="Family">
      <label for="family">Family</label>
      <br />

      <input class="btn btn-success" type="submit" value="Find me a Plan!"></input>
    </form>

    <div id="result"></div>

    <script>

      function returnTable(premium, deductible, copay, category, percentEnrolled) {
        return `<div class="table-responsive">
          <table class="table table-hover caption-top aTable">
            <caption>Plans in your State:</caption>
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Premium</th>
                <th scope="col">Deductible</th>
                <th scope="col">Copay</th>
                <th scope="col">Category</th>
                <th scope="col">% Enrolled</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Plan A</th>
                <td>${premium}</td>
                <td>${deductible}</td>
                <td>${copay}</td>
                <td>${category}</td>
                <td>${percentEnrolled}</td>
              </tr>
            </tbody>
          </table> 
        </div>`;
      }

      $("#findPlanForm").submit(function(event) {
        event.preventDefault();
        var ajaxRequest = $.ajax({
          url: "/findIdealPlan",
          type: 'post',
          data: $('#findPlanForm').serialize()
        }).done((res) => {
          // if there is data in their state, show it
          if (res) {
            $("#result").html(returnTable(
              res.premium, 
              res.deductible, 
              res.copay, 
              res.category, 
              res.percentEnrolled
            ));
          } else {
            // else, tell them there is no data for their state
            $("#result").html("<h1>Sorry, there is no data for your state</h1>");
          }
        }).fail(() => {
          $("#result").html("<h1>Error! Did you Enter a State Name?</h1>");
        });
      });
    </script>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>